
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end >
	    <button ion-button (click)="skipLogin()" color="light">
	    	Skip
	    </button>
    </ion-buttons>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
 
	<ion-list no-lines>

	    <form [formGroup]="loginForm" novalidate>
	        <ion-item>
	            <ion-label color="primary" stacked> Email </ion-label>
	            <ion-input formControlName="email" type="text"
	             [class.invalid]="!loginForm.controls.email.valid && (loginForm.controls.email.dirty)"></ion-input>
	        </ion-item>
	         <p *ngIf="!loginForm.controls.email.valid && (loginForm.controls.email.dirty )" class="error">Please enter a valid email.</p>

	        <ion-item>
	            <ion-label color="primary" stacked> Password </ion-label>
	            <ion-input formControlName="password" type="password"
	             [class.invalid]="!loginForm.controls.password.valid && (loginForm.controls.password.dirty)"></ion-input>
	        </ion-item>
            <p *ngIf="!loginForm.controls.password.valid && (loginForm.controls.password.dirty )" class="error">Passwords must be more than 8 characters</p>
	    </form>
	    <p class="error">{{errorMessage}}</p>
		  <button ion-button block outline round color="primary" [disabled]="!loginForm.valid"(click)="login()">Log In
	 	 </button> 
	</ion-list>

		<button ion-button round class="action-btn" color="secondary" small (click)="signUp()">
			Create An Account
	 	</button> 

</ion-content>
