<!--
  Generated template for the PetListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="secondary">
  	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Pets</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-buttons  end  (click)="addNewPet()" >
      <button ion-button outline round>
        <ion-icon name="add"></ion-icon> 
        Add Pet 
      </button>
  </ion-buttons>
  <ion-list>
    <ion-item   *ngFor="let pet of pets | async" (click)="showPet(pet)" >
      <ion-thumbnail item-start>
        <img [src]="(pet)?.photoUrl || 'assets/icon/pet1.png' ">
      </ion-thumbnail>
      <h1>{{pet?.name}}</h1>
      <p>{{pet?.breed}}</p>
    </ion-item>
<!--     <button ion-button block  outline color="primary" (click)="addNewPet()">
    	  <ion-icon name="add-circle"></ion-icon> 
		  Add New Pet  
	</button> -->

 
  <div *ngIf="!(pets | async)?.length">
        <img class="no-pet-img" [src]=" 'assets/icon/no_pets2.png' ">
        <h1 class="no-pet-msg">You have No Pets!</h1>
  </div>
</ion-list>

</ion-content>
