
<ion-header>

  <ion-navbar color="secondary">
  	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons  end (click)="addNewPet()" >
      <button ion-button icon-only class="add-btn">
        <ion-icon name="add"></ion-icon> 
      </button>
    </ion-buttons>
    <ion-title>My Pets</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item tappable *ngFor="let pet of pets | async" (click)="showPet(pet)" >
      <ion-thumbnail item-start>
        <img [src]="(pet)?.photoUrl || 'assets/icon/pet1.png' ">
      </ion-thumbnail>
      <h2>{{pet?.name}}</h2>
      <p>{{pet?.breed}}</p>
    </ion-item>
 
  <div *ngIf="!(pets | async)?.length">
        <img class="no-pet-img" [src]=" 'assets/icon/no_pets2.png' ">
        <h1 class="no-pet-msg">You have No Pets!</h1>
  </div>
</ion-list>

</ion-content>
