<!-- Generated template for the PasswordComponent component -->
<div [formGroup]="form" *ngIf="form">

  <ion-item>
    <ion-label color="primary" stacked>  Password </ion-label>
    <ion-input dir="auto" [type]="passwordType" formControlName="password" clearOnEdit=false 
    [class.invalid]="!form.controls.password.valid && (form.controls.password.dirty)"></ion-input>
  </ion-item>
  	<ion-buttons  end   (click)="togglePassword()" >
      <button ion-button small  outline color="light" class="show-password">
        <ion-icon name="eye" [ngClass]="{'active': showPassword}"></ion-icon>
      </button>
    </ion-buttons>


<div>
