password {
	.show-password{
		display: inline-block;
		position: relative;
	    top: -37px;
	    right: 13px;
		margin: 0!important;
		background-color: white;
		color: black;
	}
	.active{
		color: color($colors, primary);
	}
}
