
<ion-header>

  <ion-navbar color="primary">
  	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
	<div class="info-container">
		<img  class="avatar provile-img" [src]="(auth)?.photoURL || 'assets/imgs/avatar.png' ">
		<div class="info">
			<p class="name"> {{ auth?.displayName }}</p>
			<p class="handler"> @{{ (profile | async)?.username }}</p>
		
		</div>
		<div class="bio">write your bio...</div>
		<div class="contact-info">	
		  	<p>
		  		<ion-icon name="mail" color="primary"></ion-icon>
		  		 {{ auth?.email }}
		  	</p>
		  	<p *ngIf="!auth?.emailVerified" class="hint" >Not Verified</p>
		  	<p>
		  		<ion-icon color="primary" name="phone-portrait"></ion-icon> {{ (profile | async)?.phoneNumber  }}
		  	</p>
		  	<p  class="hint" >Not Verified</p>
		</div>
	</div>

<div class="info-container">
  <ion-segment  [(ngModel)]="activeView" color="secondary">
    <ion-segment-button value="pets">
      Pets
    </ion-segment-button>
    <ion-segment-button value="business">
      Services
    </ion-segment-button>
  </ion-segment>

  <ion-list  *ngIf="activeView == 'pets' ">
    <ion-item tappable *ngFor="let pet of pets | async" (click)="showPet(pet)" >
      <ion-thumbnail item-start>
        <img [src]="(pet)?.photoUrl || 'assets/icon/pet1.png' ">
      </ion-thumbnail>
      <h2>{{pet?.name}}</h2>
      <p>{{pet?.breed}}</p>
	</ion-item>
	 
	<div *ngIf="!(pets | async)?.length">
	    <img class="no-pet-img" [src]=" 'assets/icon/no_pets2.png' ">
	    <h1 class="no-pet-msg">You have No Pets!</h1>
	</div>
  </ion-list>

    <ion-list  *ngIf="activeView == 'business' ">

	  <ion-item>
	    <ion-avatar item-start>
	      <img src="assets/imgs/medal3.png">
	    </ion-avatar>
	    <h2>Coach</h2>
	  </ion-item>

	  <ion-item>
	    <ion-avatar item-start>
	      <img src="assets/imgs/walking.png">
	    </ion-avatar>
	    <h2>Pet Walker</h2>
	  </ion-item>

	  <ion-item>
	    <ion-avatar item-start>
	      <img src="assets/imgs/setting.png">
	    </ion-avatar>
	    <h2>Pet Sitter</h2>
	  </ion-item>


	  <button ion-button round outline icon-only large color="secondary" (click)="listMedals()">
	  		 <ion-icon name="add"></ion-icon>
	  </button>
		</ion-list>
	</div>

</ion-content>
