page-profile {

    .provile-img{
      margin-left:0px;
      display: inline; 
      float:left;
    }
    .name {
      font-size: 23px;
      margin:1px ;
    }

    .handler{
      color:color($colors, primary);
      position: relative;
      font-size: 17px;
      margin:1px;
    }
    .info{
      float:left;
      margin-left:5px;
    }
    .bio{
      position: relative;
      height:60px;
      width:230px;
      background-color: #eeeeee;
      color:#bbbbbb;
      border-radius:20px;
      padding:15px;
      margin-left:5px;
      margin-top:5px;
      display: inline-block;
    }
    .hint{
      font-size: .8em;
      color:#888888;
      text-align: center;
      margin:0;
    }
    .contact-info{
      clear:both;
    }
    .info-container{
      padding:15px;
      font-size: 14px;
      margin:6px;
      border-radius:20px;
      box-shadow: 0px 3px 2px color($colors, primary);
      background-color: #fbfbfb;

    }
  .no-pet-msg{
    text-align: center;
    color: color($colors, secondary);
  }
  .no-pet-img{
    opacity:.5;
  }
  .add-btn{
    font-size:1.5em;
  }
}
