page-profile {

    .name {
  		font-size: 28px;
  		text-align: center;
      height: 70px;
      color: color($colors, primary);
    }
    .hint{
      font-size: .8em;
      color:#888888;
      text-align: center;
    }

}
