page-profile {

    .name {
      font-size: 28px;
      text-align: center;
      height: 40px;
      color: color($colors, primary);
    }
    .hint{
      font-size: .8em;
      color:#888888;
      text-align: center;
    }
    .info-container{
      padding:15px;
      font-size: 14px;
      margin:6px;
      border-radius:6%;
      box-shadow: 0px 3px 2px color($colors, primary);
      background-color: #fbfbfb;

    }

}
