// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


        @font-face {
            font-family: "PatuaOne-Regular";
            src: url('../assets/fonts/PatuaOne-Regular.ttf');
            font-weight: normal;
            font-style: normal;
        }

        .select-alert * , ion-alert * , ion-toolbar , ion-label , .ion-page {
          font-family: "PatuaOne-Regular";
        }

        .menu-icons{
            color: color($colors, primary);
        }

        .link {
            font-size: 2rem;
            text-align: center;
            color: color($colors, secondary);
        }


        .error {
            font-size: 1em;
            text-align: center;
            color: #ff0000;
        }      
        .avatar {

            display: block;
            width: 120px;
            height: 120px;
            border-radius: 35%;
            border: 3px solid lightgrey;
            margin-left: auto;
            margin-right: auto;
        }
 
        .swiper-slide {
            display: block;
        }
 
        ion-label, .select-text{
            margin-left: 5px;
        }
 
        ion-input, ion-textarea {
            background-color: #f2f2f2;
            padding: 5px 10px;
        }

        ion-select, ion-datetime {
            background-color: #f2f2f2;
            padding: 15px 10px!important;
            margin-left: 0px;
        }

        .item-md.item-block .item-inner{
            border-bottom: none;
        }
 
        .invalid {
            border: 1px solid #ea6153;
        }
        .action-btn{
            margin-left: auto;
            margin-right: auto;
            display: block;
       }