page-complete-profile {
		.avatar {

			display: block;
			width: 150px;
			height: 150px;
			border-radius: 50%;
			margin-left: auto;
    		margin-right: auto;
		}
		.msg{
		    font-size: 1.5em;
      		color:color($colors, primary);
      		text-align: center;
		}
}
